<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/mypageTemplate::mypagecontainer(~{::title},~{::div.mypage_content_container},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
	<script defer></script>
  <title>마이페이지 | 내가 쓴 댓글</title>
</head>
<body>

  <div class="mypage_content_container">
    <h3 class="mypage_content_title">내가 쓴 댓글</h3>
    <hr>
    <div class="mypage_content">
      

    </div>
  </div>

</body>
</html>