<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/mypageTemplate::mypagecontainer(~{::title},~{::div.mypage_content_container},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
	<script defer></script>
  <title>마이페이지 | 회원 정보 수정</title>
</head>
<body>

  <div class="mypage_content_container">
    <h3 class="mypage_content_title">회원 정보 수정</h3>
    <hr>
    <div class="mypage_content">
			<form th:action="@{|/member/${session.loginMember.id}/modify|}" method="post">
				
				<form action="/html/index.html" th:action="@{|/member/join/${mtype}|}" method="patch">
			<input type="hidden" name="mtype" th:value="${mtype}"/>
			
			<h1 th:if="${mtype} == 'N'">일반회원수정양식</h1>
			<h1 th:if="${mtype} == 'S'">특수회원수정양식</h1>

			<h3 class="joinform__title">공통정보</h3>
			<hr>
			
			<ul class="joinform">
				<li><div><label for="id">아이디</label><span class="essential">*</span></div>			  	<div class="joinform__inputBox"><input class="joinform__input joinform__input--sm" type="text" name="id" id="id" placeholder="Ex.) petlove1@animore.com" readonly/> <input class="joinform__btn" type="button" value="중복확인"></div></li>
				<li><div class="li_label"><label for="pw">비밀번호</label><span class="essential">*</span></div> 									<input class="joinform__input" type="text" name="pw" id="pw" /> </li>
				<li><div class="li_label"><label for="pw2">비밀번호변경</label>	<span class="essential">*</span></div>						 <input class="joinform__input" type="text" name="pw2" id="pw2" /></li>
				<li><div class="li_label"><label for="pw2">비밀번호변경재확인</label>	<span class="essential">*</span></div>						 <input class="joinform__input" type="text" name="pw2" id="pw2" /></li>
				<li><div class="li_label"><label for="image">프로필사진</label></div>																			<input class="joinform__input" type="file" name="image" id="image" /></li>
				<li><div class="li_label"><label for="name">이름</label> <span class="essential">*</span></div>										<input class="joinform__input" type="text" name="name" id="name" /></li>
				<li><div class="li_label"><label for="birth">생년월일</label> <span class="essential">*</span></div>								<input class="joinform__input" type="text" name="birth" id="birth" /></li>
				<li><div class="li_label"><label for="gender">성별</label> <span class="essential">*</span></div>									<input class="joinform__input" type="text" name="gender" id="gender" /></li>
				<li><div class="li_label"><label for="tel">휴대폰</label> <span class="essential">*</span></div>										<input class="joinform__input" type="text" name="tel" id="tel" /></li>
				<li><div class="li_label"><label for="email">연락가능이메일</label> <span class="essential">*</span></div>					 <input class="joinform__input" type="text" name="email" id="email" /></li>
				<li><div class="li_label"><label for="address">주소</label> <span class="essential">*</span></div>									<input class="joinform__input" type="text" name="address" id="address" /></li>
				<li><div class="li_label"><label for="nickname">별칭</label> <span class="essential">*</span></div>	<div class="joinform__inputBox"><input class="joinform__input joinform__input--sm" type="text" name="nickname" id="nickname" /><input class="joinform__btn" type="button" value="중복확인"></div></li>
			</ul>
			
			<div th:if="${mtype} == 'N'">
				<h3 class="joinform__title">일반회원전용정보</h3>
				<hr>
				<ul class="joinform">
					<li><div class="li_label"><label for="animal">키우는동물</label></div>						<input class="joinform__input" type="text" name="animal" id="animal" /></li>
				</ul>
			</div>
			
			<div th:if="${mtype} == 'S'">
				<h3 class="joinform__title">특수회원전용정보</h3>
				<hr>
				<h3 class="joinform__title">자격증정보</h3>
				<ul class="joinform">
					<li><div class="li_label"><label for="licenseno">자격증번호</label></div>					<input class="joinform__input" type="text" name="licenseno" id="licenseno" /></li>
					<li><div class="li_label"><label for="image">자격증사진</label></div>							<input class="joinform__input" type="file" name="image" id="image" /></li>
				</ul>
			</div>
				
				
			</form>
    </div>
  </div>

</body>
</html>