<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/template/mypageTemplate::mypagecontainer(~{::title},~{::div.mypage_content_container},~{::script})}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
	<script defer></script>
  <title>마이페이지 | 즐겨찾는업체</title>
</head>
<body>

  <div class="mypage_content_container">
    <h3 class="mypage_content_title">즐겨 찾는 업체</h3>
    <hr>
    <div class="mypage_content">
      <ul th:if="${mpMenuName}==mypageFavorites">
        <li><input type="checkbox" name="bcategory_all" id="bcategory_all"><label for="bcategory_all">전체</label></li>
        <li><input type="checkbox" name="bhospital" id="bhospital"><label for="bhospital">병원</label></li>
        <li><input type="checkbox" name="bpharmacy" id="bpharmacy"><label for="bpharmacy">약국</label></li>
        <li><input type="checkbox" name="bhotel" id="bhotel"><label for="bhotel">호텔</label></li>
        <li><input type="checkbox" name="bkindergarden" id="bkindergarden"><label for="bkindergarden">유치원</label></li>
        <li><input type="checkbox" name="bfood" id="bfood"><label for="bfood">식당.카페</label></li>
        <li><input type="checkbox" name="btraining" id="btraining"><label for="btraining">훈련소</label></li>
        <li><input type="checkbox" name="bshop" id="bshop"><label for="bshop">용품점</label></li>
        <li><input type="checkbox" name="bplayground" id="bplayground"><label for="bplayground">놀이터</label></li>
        <li><input type="checkbox" name="bhairshop" id="bhairshop"><label for="bhairshop">미용실</label></li>
        <li><input type="checkbox" name="betc" id="betc"><label for="betc">기타</label></li>
      </ul>

	   	<table>
				<tr th:if="${mpMenuName}==mypageFavorites">
					<th>번호</th><th>카테고리</th><th>업체명</th><th>평점</th>		
				</tr>
				<tr th:if="${mpMenuName}==mypageReview">
					<th>번호</th><th>업체명</th><th>내 평점</th><th>리뷰내용</th><th>작성일</th>		
				</tr>
				<tr th:if="${mpMenuName}==mypagePost">
					<th>번호</th><th>카테고리</th><th>게시글제목</th><th>작성일</th><th>조회수</th>		
				</tr>
				<tr th:if="${mpMenuName}==mypageReply">
					<th>번호</th><th>댓글내용</th><th>작성일</th><th>좋아요</th>		
				</tr>
				<tr th:if="${mpMenuName}==mypageGood">
					<th>번호</th><th>카테고리</th><th>게시글제목</th>		
				</tr>
				<tr th:if="${mpMenuName}==mypageCopon">
					<th>번호</th><th>쿠폰이름</th>		
				</tr>

<!--/* 
				<tr th:each="gList : ${list}">
					<td th:text="${gList.gnum}">1</td>
					<td>
						<a th:text="${gList.gtitle}" href="/" th:href="@{|/gongi/${gList.gnum}|}">글제목1</a>
					</td>
					<td th:text="${gList.uname}">작성자1</td>
					<td th:text="${gList.cdate}">날짜</td>
				</tr>
*/-->
			</table>

    </div>
  </div>

</body>
</html>